<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <title>todo manager</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <%- include('header.ejs') %>
                <h6 class="py-4">Signup as a new user</h6>
                <form action="/users" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div>
                        <label for="firstname">First Name:</label>
                        <input class="py-1 border border-gray-300 text-gray-900 rounded p2 w-full" type="text" name="firstname" required>
                    </div>
                    <div>
                        <label for="lastname">Last Name:</label>
                        <input class="py-1 border border-gray-300 text-gray-900 rounded p2 w-full" type="text" name="lastname">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input class="py-1 border border-gray-300 text-gray-900 rounded p2 w-full" type="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input id = "password" class="py-1 border border-gray-300 text-gray-900 rounded p2 w-full" type="password" name="password" required>
                    </div>
                    <div class="py-2">
                        <button class="py-2 text-white bg-green-600 hover:bg-green-800 font-medium px-3 py-2 rounded" type="submit">Sign up</button>
                    </div>
                </form>
                <% if (messages && messages.error && messages.error.length > 0){ %>
                    <li><%= messages.error[0] %></li>
                <% } %>
                <% if (messages && messages.success && messages.success.length > 0){ %>
                    <li><%= messages.success[0] %></li>
                <% } %>
            </div>
        </div>
    </body>
</html>