<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        function changeTodoStaus(id) {
            console.log(id)
            let completionStatus = document.getElementById(`todo-checkbox-${id}`).checked;
            fetch(`/todos/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token,
                    completed: completionStatus
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
        function deleteTodo(id){
            fetch(`/todos/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
      </script>
    <title>Todo Manager</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <a href="/signout">Signout</a>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="What's next?" class="border list-disc w-full p-2 text-sm rounded leading-4 h-full" name="title" required>
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border list-disc w-full p-2 text-sm rounded leading-4 h-full" name="dueDate" required>
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-2 py-1.5 rounded font-medium mr-2 mb-2 ">
                            Add
                        </button>
                    </div>
                </div>
            </form>
            <% if (messages && messages.error && messages.error.length > 0){ %>
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline"><%= messages.error[0] %></span>
                </div>
            <% } %>
            <% if (messages && messages.success && messages.success.length > 0){ %>
                <div id = "success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative animation: " role="alert">
                    <strong class="font-bold">Success!</strong>
                    <span class="block sm:inline"><%= messages.success[0] %></span>
                </div>
            <% } %>
            <%- include('todo.ejs', {section: "OverDue", todos: overDue, id: "overdue"}) %>
            <%- include('todo.ejs', {section: "Due Today", todos: dueToday, id: "due-today"}) %>
            <%- include('todo.ejs', {section: "Due Later", todos: dueLater, id: "due-later"}) %>
            <%- include('todo.ejs', {section: "Completed", todos: completedItems, id: "completed-items"}) %>
        </div>
        
    </div>
</body>
</html>